# Data Types

## What you will learn in this course ðŸ§ðŸ§

Let's move forward and dive deeper into python programming. In this course we will cover:

* Lists
* Dictionnaries
* Tuples 
* And manipulate the above data collection

## Handle data collections

Data collections are objects that allow you to store several types of data at the same time. For example, you can have decimal numbers, strings, and integers in the same data collection. This is very useful to know how to manipulate because you will often deal with data collections as a Data Scientist (and even as a Web Developer).

### Lists


#### Definition

A list is a mutable data collection, i.e. the collection in the list can be modified. Here is an example:

In [2]:
list_1 = [1,2,3,4,5]

In this list, we have 5 different items that have the value: 1, 2, 3, 4 and 5 respectively. We can access each item in the list via its index (which corresponds to its position in the list):

In [4]:
list_1[3]

4

Warning: in python, the numbering of indices always starts at 0!

#### Change items in a list

As we said in our introduction, a list is mutable. That is, you can change the items that are already present in the list by specifying the index of the item you want to change. For example, you can specify the index of the item you want to change:

In [6]:
## replacing 4 by 17
## 4 is in position 3
list_1[3]= 17
print(list_1)

[1, 2, 3, 17, 5]

Lists can therefore be useful if you need access to items in the data collection in order to modify them.

#### Add items to a list

Items can be added to a list in different ways:


*   The operator `+`
*   `.append()`
*   `.extend()`

In [7]:
## add a single emenet with append
list_2 = [1,2,3,4,5]
add_2 = "test" 

list_2.append(add_2)
print(list_2)

[1, 2, 3, 4, 5, 'test']

In [ ]:
# Add of a single element with append

[1, 2, 3, 4, 5, 'test']

The `.append()` function is limited to one item addition. If you want to add several items to a list with this function, the program will consider these several items as a single list, this list becoming a single item added to your first list. See instead an example:

In [9]:
add_3 =  ['test1', 'test2', 'test3']
list_3 = [1,2,3,4,5]
list_3.append(add_3)
print(list_3)

[1, 2, 3, 4, 5, ['test1', 'test2', 'test3']]

The `.extend()` function solves this problem by adding each item one by one to the first list. So here it is:

In [10]:
# Add a list to the end of an other (concatenate)
list_4 = [1,2,3,4,5]
add_4 = ['test1', 'test2', 'test3']
list_4 = list_4 + add_4
print(list_4)

[1, 2, 3, 4, 5, 'test1', 'test2', 'test3']

In [11]:
list_5 = [1,2,3,4,5]
add_5 = ['test1', 'test2', 'test3']
list_5.extend(add_5)
print(list_5)

[1, 2, 3, 4, 5, 'test1', 'test2', 'test3']

You may also do this with a + command. Python is an interpreted language, which means that all the commands that you run in python will start by interpreting the types of the elements on which you are working before calculating anything. Therefore the same operation will lead to different effects depending on your objects types e.g.: for lists the + operation will concatenate the lists:

In [ ]:
# Add a list to the end of an other (concatenate)

[1, 2, 3, 4, 5, 'test1', 'test2', 'test3']

#### Remove items from a list

The last thing you need to see is how to remove items from a list. There are three ways to do this:
*   `del()`
*   `.remove()`
*   `pop()`

In the same way, let's try to understand by example:

In [12]:
# remove item with del
list_1 = [1,2,4]
del(list_1[1])
print(list_1)

[1, 4]

In [13]:
# remove item with the .remove method

list_1 = [1,2,4]
## remove 1 from the list
list_1.remove(1)
print(list_1)

[2, 4]

The main difference between `del()` and `remove()` is that the first function allows you to delete an element via its index, while the second function allows you to delete an element via the value of the element (in this case _1_). Depending on your issues, you may need one more than the other.

Warning: the `remove()` function removes only one element at a time. If you have duplicates that you want to remove, use a `while` loop as in the following example:

In [ ]:
list_2 = [1,2, "to_remove", 4, "to_remove", "to_remove"]

## remove the strings "to_remove" from the list

for element in list_2:
    print(list_2)
    print(element)
    if element == "to_remove":
        list_2.remove(element)
    print(list_2)


## while vs for loops with null values

[1, 2, 'to_remove', 4, 'to_remove', 'to_remove']
1
[1, 2, 'to_remove', 4, 'to_remove', 'to_remove']
[1, 2, 'to_remove', 4, 'to_remove', 'to_remove']
2
[1, 2, 'to_remove', 4, 'to_remove', 'to_remove']
[1, 2, 'to_remove', 4, 'to_remove', 'to_remove']
to_remove
[1, 2, 4, 'to_remove', 'to_remove']
[1, 2, 4, 'to_remove', 'to_remove']
to_remove
[1, 2, 4, 'to_remove']

In [18]:
list_2

[1, 2, 4, 'to_remove']

In [16]:
list_2 = [1,2, "to_remove", 4, "to_remove", "to_remove"]


while "to_remove" in list_2:
    list_2.remove("to_remove")

print(list_2)

[1, 2, 4]

The problem with these functions is that the item is deleted and cannot be retrieved. Indeed, it often happens to want to separate an item from a list to use it somewhere else, or even to want to move this item in the list. In this case, we will use the `pop()` function:

In [22]:
# remove an item with the .pop method

list_1 = [1,2,4]

## number 4 out
list_popped = list_1.pop(2)
print(list_popped)
list_1

4

[1, 2]

#### List comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each element of another list, or a subset of another list satisfying a certain condition. 

Let's learn how to use list comprehensions by example:

In [30]:
# Define a list
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a new list, where each element is list_1's elements multiplied by 2
list_2 = [2 * i for i in list_1]
print(list_2)
# Create a new list, where we keep only list_1's elements that are strictly above 2
list_3 = [element for element in list_1 if element >2 ]
print(list_3)

# Create a new list, where we keep elements of list_1 that are below 7, and then add 1
list_4 = [element + 1 for element in list_1 if element < 7 ]
print(list_4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7]

In [28]:
list_4 = []

for element in list_1:
    if element < 7:
        list_4.append(element +1)

In [29]:
list_4

[2, 3, 4, 5, 6, 7]

### Slices


#### Fundamental Principal

Very often you may not need a complete list but just a part of it. This is when slices become very useful. Here is an example:

In [31]:
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
list_1[7:10]

[8, 9, 10]

In [39]:
list_1[0:3]

# [1,2,3]

[1, 2, 3]

In [41]:
list_1[:3]

[1, 2, 3]

In [ ]:
list_2

[8, 9, 10]

The structure is therefore as follows:

```
slice[start_index : end_index]
```

As well as the `range()` function, `start_index` will be included and `end_index` will be excluded from the list.

If you don't put anything as ```start_index```, the program will choose by default the index 0. Conversely, if you don't put anything as ```end_index```, the program will understand that it must go to the last index in the list:

In [43]:
three_last_items = list_1[7:]
print(three_last_items)

three_first_items = list_1[:3]
print(three_first_items)

[8, 9, 10]
[1, 2, 3]

#### Slices with negative index

Negative indices are useful when you want to count from the end of the list :

In [44]:
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
three_last_items = list_1[-3:]
print(three_last_items)

[8, 9, 10]

In [46]:
three_last_items_excluded = list_1[: -3]
print(three_last_items_excluded)

[1, 2, 3, 4, 5, 6, 7]

In [47]:
three_last_items = list_1[-3:]
print(three_last_items)

three_last_items_excluded = list_1[: -3]
print(three_last_items_excluded)

[8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]

## Dictionaries

Dictionaries have a great deal of specificity, which is very useful. They have keys associated with one or more values. You can think of them as labelled "drawers". Dictionaries are a very common format, which you will encounter when using APIs for example. In a dictionary, it is therefore important to know how to manipulate the keys and the values associated with them.

In [48]:
# let us create a first dictionary with the key "first name" and value "Antoine"

dic1 = {"first_name": "Antoine"}

In [49]:
dic1

{'first_name': 'Antoine'}

In [50]:
dic1["first_name"]

'Antoine'

The dictionary key is the equivalent of the index in the list. It can be used to access the different values:

In [51]:
dic1["first_name"]

'Antoine'

#### Modify / Add a key

The way you will modify or add a key works the same way:

In [53]:
# We modify the already existing element to the key "first_name".
dic1["first_name"] = "Charles"
dic1

# New elements are added, with the keys 'name' and 'age'.
dic1["name"] = "Dupont"
dic1["age"] = 36
print(dic1)

{'first_name': 'Charles', 'name': 'Dupont', 'age': 36}

#### Delete a key

A key can be removed using the `del()` function. In the same way as we have seen with the lists:

In [54]:
del(dic1["age"])
print(dic1)

{'first_name': 'Charles', 'name': 'Dupont'}

## Iterate on dictionaries

In a dictionary, you can iterate on keys, values associated with keys, or both. Here are some good methods to know.


### Iterate on the keys of a dictionary

In [56]:
# iterate on keys

for key in dic1.keys():
    print(key)

first_name
name

### Iterate on dictionary values

To iterate on values in a dictionary, the easiest way is to use the `.values()` function:

In [57]:
# iterate on values

for value in dic1.values():
    print(value)

Charles
Dupont

### Iterate on keys and values

You can also iterate on the key and the value associated with the key at the same time with the `.items()` function. This function will return the key and the value at the same time in the iteration:

In [58]:
# iterate on keys and values

for item in dic1.items():
    print(item)

('first_name', 'Charles')
('name', 'Dupont')

## Tuples

Tuples are, unlike lists, immutable. It often happens that you come across them when you want to manipulate data that should not be changed during the execution of your code. Here's how they're built:

In [59]:
tuple_1 = (1,2,3)
print(tuple_1)

(1, 2, 3)

The value of an item in a tuple can be accessed in the same way as the value of an item in a list:

In [60]:
tuple_1[2]

3

In [63]:
list_1 = [1,2,3]
list_1[2] = "Hello"
print(list_1)

[1, 2, 'Hello']

On the other hand, if you try to change the value for a tuple, you get an error:

In [64]:
# A tuple cannot be modified: the code below produces an error
tuple_1[2]= "Hello"

TypeError: 'tuple' object does not support item assignment

### Exchanging values with tuples

The first interesting thing we can do is exchange values for tuples:

In [65]:
# Exchanging values using tuples

a = 100
b = 1000

(a,b) = (b,a)

In [66]:
print(b)

100

In [67]:
print(a)

1000

### Iterate over tuples

Let's imagine that we have a list in which each element is a tuple, as in the example below:

In [68]:
list_tuples = [("antoine", 24), ("lea", 22), ("margaux",20)]

It is possible to iterate on each tuple and retrieve first names and ages separately in the following way:

In [71]:
for i in list_tuples: ## i is the tuple
    print("first name:" ,i[0] ) ## tuples`s first element
    print("age:", i[1]) ## tuples's second element
    print("--------------------")

first name: antoine
age: 24
--------------------
first name: lea
age: 22
--------------------
first name: margaux
age: 20
--------------------

There is a more practical way of doing this, by giving names to each element of the tuple:

In [72]:
# Here, we give explicit names (first_name, age) to the elements on which we iterate:
for first_name, age in list_tuples:
    print("first_name:", first_name)
    print("age:", age)
    print("---------------------------")

first_name: antoine
age: 24
---------------------------
first_name: lea
age: 22
---------------------------
first_name: margaux
age: 20
---------------------------

# sets

 Python Sets - 20 Minute Lesson

## What are Sets?
Sets are unordered collections of unique elements. They're similar to mathematical sets and are perfect for removing duplicates and performing set operations.

## Creating Sets

In [77]:


# Empty set
#  Note: {} creates a dict, not a set!
empty_set = set()
print(empty_set)

# Set with elements
fruits = {"apple", "banana", "orange"}
numbers = {1,2,3,4,5}
print(fruits)
print(numbers)


# From a list (removes duplicates)
  # {1, 2, 3, 4}
list_duplicates = [1,2,2,3,3,3,3,4] 
list_duplicates 
set_from_the_list_above = set(list_duplicates)
print(set_from_the_list_above)

set()
{'apple', 'orange', 'banana'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}

## Basic Set Operations

In [92]:

# Adding elements
fruits = {"apple", "banana"}
fruits.add("orange")
fruits.add("melon")
fruits.add("kiwi")
fruits.update(["grape", "pear"])



# Removing elements
fruits.remove("banana")
fruits.discard("mango") ## even if mango is not here it will not raise value error
print(fruits)

popped = fruits.pop()
print(popped)


# Checking membership
if "kiwi" in fruits:
    print("Apple is in the set fruits which is false")

# Set size
print(len(fruits))

{'apple', 'orange', 'pear', 'kiwi', 'grape', 'melon'}
apple
Apple is in the set fruits which is false
5

In [99]:
## Set Mathematical Operations
set_a = {1,2,3,4}
set_b = {3,4,5,6}
# Union (all elements from both sets)
## result  {1,2,3,4,5,6}
union = set_a | set_b
union_same = set_a.union(set_b)
print(union, union_same)

# Intersection (common elements)
## result {3,4}
intersection = set_a & set_b
intersection_same = set_a.intersection(set_b)
print(intersection, intersection_same) 

# Difference (elements in A but not in B)
## result {1,2}
difference = set_a - set_b
difference_same = set_a.difference(set_b)
print(difference, difference_same)

# Symmetric difference (elements in either set, but not both)
sym_difference = set_a ^set_b ## {1,2,5,6}
sym_difference_same = set_a.symmetric_difference(set_b)
print(sym_difference,sym_difference_same )

{1, 2, 3, 4, 5, 6} {1, 2, 3, 4, 5, 6}
{3, 4} {3, 4}
{1, 2} {1, 2}
{1, 2, 5, 6} {1, 2, 5, 6}

In [104]:
## Set Relationships
set_a = {1,2}
set_b = {1,2,3,4}
# Subset checking
is_subset = set_a <= set_b # True
is_subset_same = set_a.issubset(set_b)
print(is_subset, is_subset_same)

# Superset checking
is_superset = set_b >= set_a # True
is_superset_same = set_b.issuperset(set_a)
print(is_superset, is_superset_same)


# Disjoint sets (no common elements)
## example_1 = {1,2,34}
## example_2 = {6,7}
## example_1.intersection(example_2) = set()

set_c = {3,4}
are_disjoint = set_a.isdisjoint(set_c)
are_disjoint_example_2 = set_a.isdisjoint(set_b)
print(are_disjoint, are_disjoint_example_2 )

True True
True True
True False

In [118]:
## Practical Examples

# Remove duplicates from a list
data = [1,2,2,3,4,4,4,]
unique_data = list(set(data))
print(unique_data)

# Find common elements between lists
# Find common elements between lists
list1 = ["a", "b", "c", "d"]
list2 = ["c", "d", "e", "f"]
## ["c", "d"]
## common elements we need use the intersection: &
## need to transform the lists in sets
set(list1) ## {"a", "b", "c", "d"}
set (list2) ##  {"c", "d", "e", "f"}
list(set(list1) & set(list2)) ## {"c", "d"}

# Find unique elements across multiple lists
unique_elements = list(set(list1) | set(list2))
unique_elements

# Check if all elements in one list are in another
required = {"username", "password"} # subset
provided = {"username", "password", "email"} # superset
required <= provided

[1, 2, 3, 4]

True

In [114]:
# Find common elements between lists
list1 = ["a", "b", "c", "d"]
list2 = ["c", "d", "e", "f"]
## ["c", "d"]
## common elements we need use the intersection: &
## need to transform the lists in sets
set(list1) ## {"a", "b", "c", "d"}
set (list2) ##  {"c", "d", "e", "f"}
list(set(list1) & set(list2)) ## {"c", "d"}
#common_elements =

['d', 'c']

In [123]:
## Set Comprehensions

# Create sets using comprehensions

## create the sets of power 2 of all numbers less 10 =0,1,2,3,4,5,6,7,8,9 -- > range(0,10)= range(10)
squares = { number**2 for number in range(10) }
squares

# With conditions
## power 2 of the integers < 100 that are even numbers
## %  4%2 =0, 3%2=1 because 3 = 2 + 1 

even_squares ={x**2 for x in range(100) if x%2 ==0}
even_squares


# From strings

vowels = {"a", "e", "i", "o", "u"}
text = "hello world"
## which vowels are in the text string: "e", "o"
vowels_found = {character for character in text if character in vowels} ## 
vowels_found



### exercise: convert temperatures from Celsius to Fahrenheit
## f = c/95 + 32

celsius_temperatures = [0,10,20,45,56]
fahrenheit_from_list_above = [  x/95 + 32 for x in celsius_temperatures  ]
fahrenheit_from_list_above

[32.0,
 32.10526315789474,
 32.21052631578947,
 32.473684210526315,
 32.589473684210525]

```

## When to Use Sets
- Removing duplicates from collections
- Fast membership testing (O(1) average case)
- Mathematical set operations
- Finding unique elements
- Checking relationships between collections

## Key Points to Remember
- Sets are unordered and contain only unique elements
- Sets are mutable (but frozenset is immutable)
- Empty set: `set()`, not `{}`
- Great for mathematical operations

## EXERCISES

In [2]:
# Exercise 1: Dictionaries, Tuples, and Sets
# Working with Patient Data - Beginner Level

# Let's work with some simple patient data to learn about Python data structures!

print("=== Exercise 1: Patient Data Management ===\n")

# Sample data - a list of patient information
patients = [
    ("Alice", 28, "Treatment A"),
    ("Bob", 32, "Treatment B"), 
    ("Carol", 30, "Treatment A"),
    ("David", 29, "Treatment B")
]

print("Our patient data:")
for patient in patients:
    print(f"  {patient}")
print()

# === PART 1: Working with Tuples ===
print("PART 1: Understanding Tuples")
print("-" * 30)

# Task 1.1: Access tuple elements
# Complete the code to print each patient's information nicely
print("Task 1.1: Print patient information")

    
# Your turn: print in format "Name: Alice, Age: 28, Treatment: Treatment A"



# Task 1.2: Find the oldest patient

#print(f"Oldest patient: {oldest_name} (age {oldest_age})")
#print()

# === PART 2: Working with Dictionaries ===
print("PART 2: Creating and Using Dictionaries")
print("-" * 40)

# Task 2.1: Convert patient tuples to dictionaries
print("Task 2.1: Create patient dictionaries")



# Print the first patient dictionary as example


# Task 2.2: Add new information to dictionaries

# Let's add appointment dates to our patient dictionaries
appointment_dates = ["2024-01-15", "2024-01-16", "2024-01-17", "2024-01-18"]



# Print updated information


# Task 2.3: Count patients by treatment
print("Task 2.3: Count patients by treatment type")



# === PART 3: Working with Sets ===
print("PART 3: Using Sets for Unique Items")
print("-" * 35)

# Sample data with procedures for each patient
patient_procedures = {
    "Alice": ["consultation", "blood_test", "ultrasound"],
    "Bob": ["consultation", "blood_test"],
    "Carol": ["ultrasound", "blood_test", "consultation"], 
    "David": ["blood_test", "consultation", "x-ray"]
}


# Task 3.1: Find all unique procedures
print("Task 3.1: Find all unique procedures")




# Task 3.2: Find common procedures



# Your code here: find procedures both patients have
# Hint: use set intersection (&)



# Task 3.3: Find unique procedures for each patient

# Compare Alice and Bob


# Your code here: find procedures only Alice has
# Hint: use set difference (-)



# === CHALLENGE TASKS ===
print("ðŸŒŸ CHALLENGE TASKS ðŸŒŸ")
print("-" * 20)

# Challenge 1: Create a patient lookup system
print("Challenge 1: Patient lookup by treatment")



# Challenge 2: Find patients with the most procedures

=== Exercise 1: Patient Data Management ===

Our patient data:
  ('Alice', 28, 'Treatment A')
  ('Bob', 32, 'Treatment B')
  ('Carol', 30, 'Treatment A')
  ('David', 29, 'Treatment B')

PART 1: Understanding Tuples
------------------------------
Task 1.1: Print patient information
PART 2: Creating and Using Dictionaries
----------------------------------------
Task 2.1: Create patient dictionaries
Task 2.3: Count patients by treatment type
PART 3: Using Sets for Unique Items
-----------------------------------
Task 3.1: Find all unique procedures
ðŸŒŸ CHALLENGE TASKS ðŸŒŸ
--------------------
Challenge 1: Patient lookup by treatment

In [3]:
# List Comprehensions - 10 Minute Module
# =====================================

"""
List Comprehensions: A Pythonic way to create lists
Duration: 10 minutes
Prerequisites: Basic Python lists, for loops, if statements
"""

# =============================================================================
# 1. INTRODUCTION (2 minutes)
# =============================================================================

# Traditional way to create a list of squares


# List comprehension way - same result, one line!

# Why use list comprehensions?
# 1. More concise and readable
# 2. Generally faster than traditional loops
# 3. Pythonic - the preferred way in Python
# 4. Can combine mapping and filtering in one expression

'\nList Comprehensions: A Pythonic way to create lists\nDuration: 10 minutes\nPrerequisites: Basic Python lists, for loops, if statements\n'

In [ ]:
# =============================================================================
# 2. BASIC SYNTAX (2 minutes)
# =============================================================================

# Basic syntax: [expression for item in iterable]

# Example 1: Create a list of even numbers

# Example 2: Convert strings to uppercase


# Example 3: Extract first letters

# Example 4: Mathematical operations

In [4]:
# =============================================================================
# 3. WITH CONDITIONS (2 minutes)
# =============================================================================

# Syntax with condition: [expression for item in iterable if condition]

# Filter positive numbers

# Filter and transform
# Get squares of positive numbers only


# Multiple conditions
# Numbers between 0 and 50 that are divisible by both 2 and 3


# String filtering

In [ ]:
# =============================================================================
# 4. NESTED LIST COMPREHENSIONS (2 minutes)
# =============================================================================

# Creating a matrix


# Flattening a list of lists

# Cartesian product

# With conditions in nested comprehensions
# Get all even numbers from a matrix

In [ ]:
# =============================================================================
# 5. PRACTICAL EXAMPLES & EXERCISES (2 minutes)
# =============================================================================

# Example 1: Processing data
grades = [85, 92, 78, 95, 88, 70, 60]
# Get grades that are A's (90 and above)


# Example 2: String processing
sentence = "The quick brown fox jumps over the lazy dog"
# Get words longer than 3 characters


# Example 3: Dictionary comprehension bonus
# Create a dictionary of squares

In [ ]:
# EXERCISES - Try these yourself!
print("\n--- EXERCISES ---")

# Exercise 1: Create a list of the first 10 cube numbers (nÂ³)
c

# Exercise 2: Extract all vowels from a string


# Exercise 3: Get all numbers from 1-100 that are divisible by 7


# Exercise 4: Convert temperatures from Celsius to Fahrenheit


# Exercise 5: Create a list of tuples (number, square, cube) for numbers 1-5

## Resources ðŸ“šðŸ“š

* [Practical Introduction to Python Programming](https://drive.google.com/file/d/1ZKsxCX5lxbibEMKF-hvk5nWkfCMIA9_N/view?usp=drive_link)